* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
}

.debug {
    background-color: #ff0000;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

body {
    display: flex;
    height: 100vh;
}

main {
    /* background-color: #1e1e1e; */
    width: 100%;
}

header {
    background-color: #FFF159;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 999;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 51px;

}

.header-col {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 1200px;


}


input[type="text"].nav-search-input,
input[type="search"].nav-search-input {
    width: 598px;
    height: 39px;
    top: 8px;
    left: 1px;
    background-color: #fff;
    border-radius: 2px;
    color: #333;
    font-size: 16px;
    margin: 0;
    font-family: inherit;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 60px 10px 15px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1.5px;
}

button.nav-search-btn {
    width: 44px;
    height: 35px;
    top: 2px;
    left: -46px;
    background: #FFFFFF;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    position: relative;
    box-shadow: -1px 0 0 0 rgba(134, 134, 134, 0.2);


}

form {
    display: flex;
}

.ahead {
    color: rgba(51, 51, 51, 0.6);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
}

.ml-100 {
    margin-left: 100px;
}

.nav-menu {
    color: rgba(51, 51, 51, 0.6);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;

}

.li-head {
    display: inline;
    padding-left: 18px;
}

footer {
    box-sizing: border-box;

    position: absolute;
    height: 156px;
    left: 0px;
    right: 0px;
    background: #FFFFFF;
    border-top: 1px solid #E6E6E6;
    display: flex;
    justify-content: center;
}

.wid-comp {
    height: 100%;
    justify-content: space-around;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    width: 1180px;

}

.foo.lis {
    justify-content: start;
    gap: 22px;
}

.li-foot {
    display: inline;
    padding-right: 22px;
}

.afoot {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #333333;
}

.pfoot {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;

    color: #999999;
}

.foo-logo {
    box-sizing: border-box;
    height: 69px;
    border-top: 1px solid #EDEDED;
}

section {
    background: #EBEBEB;
}

.com1 {
    width: 100%;
    height: 340px;
    position: relative;
}

.img-comp1 {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.ul-comp1 {
    position: relative;
    bottom: 26px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.ul-butt {
    width: 6px;
    height: 6px;
    left: 52px;
    top: 0px;

    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 0px 0px 1px #FFFFFF;
    border-radius: 3px;
}

.mart-40 {
    margin-top: 40px;
}

.mart-5 {
    margin-top: 5px;
}

.comp2 {
    height: 90px;
    display: flex;
    justify-content: center;
}

.pagos {
    width: 1184px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

}

.card-pagos {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;

}

.svg-pagos {
    margin: 0 16px 0 20px;
}

.text-pagos {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
}

.more-pagos {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #3483FA;
}

.comp3 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.height-460 {
    height: 460px;
}

.ofertas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    gap: 16px;
    align-items: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.ofertas-txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 31px;

    color: #666666;
    margin-right: 16px;
}

.ofertas-txt2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;

    color: #3483FA;
}

.card-ofertas {
    width: 224px;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;

}

.oferta-precio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 24px;
    color: #333333;
    margin-right: 10px;
}

.oferta-descuento {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #00A650;
}

.oferta-envio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #00A650;
    margin-right: 2px;

}

.ofertas-margin {
    margin: 19px 10px 0px 16px;
}

.comp-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comp-row {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.wid-1200 {
    width: 1200px;
}

.heith-340 {
    height: 340px;
}

.comp4 {
    display: flex;
    flex-direction: column;
    width: 1200px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    justify-content: space-between;
}

.sus-1 {
    height: 87px;
    left: 0px;
    top: 0px;
    background: linear-gradient(90deg, #A90F90 55%, #0C1A51 100%);
    display: flex;
    align-items: center;
    padding: 0 94px 0 24px;
    justify-content: space-between;
}

.sus-2 {
    height: 81px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 94px 0 24px;
    border-top: 1px solid #EDEDED;
}

.sus-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

.sus-borl {
    border-left: 2px solid #FFFFFF;
    padding-left: 6px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
}

.sus-text-l {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: #FFFFFF;
}

.sus-text-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 48px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.heith-172 {
    height: 172px;
    padding: 24px;
}

.card-sus {

    width: 377.33px;
    height: 74px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;

}

.sus-ben {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    margin: 24px;
}

.text-suscribe {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 240.39px;
    height: 48px;
    display: flex;
    align-items: center;
}

.suscribir {
    width: 1184px;
    height: 154px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

}

.sus-but {
    width: 123.72px;
    height: 48px;

    background: #3483FA;
    border-radius: 6px;
}

.card-ben {
    width: 384px;
    height: 250px;
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.card-ben-down {
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    color: #FFFFFF;

}

.bg1 {
    background: url(src/Widget_Multicontent_Latam_768-x-566px.jpg.png);
}

.bg2 {
    background: url(src/HBOMax_widgetmulti_mobdsk_mco_@2x.webp.png);
}

.bg3 {
    background: url(src/paramount_widgetmulti_mobdsk_mco_@2x.jpg.png);
}

.ben-png {
    width: 80px;
    height: 80px;
    border-radius: 6px;
    margin: 16px;
}

.text-ben {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text-ben2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.card-des {
    height: 250px;
    width: 584px;

    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

}

.des-img {
    width: 289.84px;
    height: 250px;
}

.des-cont {
    width: 287.34px;
    height: 198.59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 0 32px 32px;
}

.des-text1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4B4B4B;
    margin-bottom: 11px;
}

.des-text2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
    color: #4B4B4B;
}

.des-text3 {
    width: 96px;
    height: 36px;
    margin-top: 13px;

    background: #3483FA;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1px;
}

.card-tiendas {
    width: 284px;
    height: 340px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.card-tiendas-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.tiendas-logo {
    left: calc(50% - 80px/2);
    top: 55px;
    position: absolute;
}


.tiendas-titulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    margin: 56px 0 20px 0;
}


.tiendas-imgs {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    top: 3px;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
}

.tiendas-link {
    margin-top: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #999999;


}

.colec {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 26px;
    color: #666666;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.colec2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    color: #666666;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card-colecciones {
    width: 384px;
    height: 384px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colecciones {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    gap: 8px;
    align-items: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.card-colec {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.colec-main-img {
    width: 383px;
    height: 281px;

}

.comp-column-colec {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 25px;
    height: 100%;
    justify-content: space-between;
}

.colec-main-txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4B4B4B;
}

.colec-main-txt2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
    color: #4B4B4B;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }
  
  .card {
    background-color: #eee;
    padding: 20px;
  }
   .hwfull {
    height: 100%;
    width: 100%;}